// База данных
DATABASE_URL=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

// Секрет и TTL (строка) access-токена
JWT_ACCESS_SECRET=""
JWT_ACCESS_TTL_MINUTES=""

// Секрет и TTL (строка) refresh-токена
JWT_REFRESH_SECRET=""
JWT_REFRESH_TTL_DAYS=""

// Адрес Redis, например, redis://localhost:6379
REDIS_URL=""

// Email и пароль админа для seed
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

// Допустимые адреса через запятую. По умолчанию, http://localhost:3000
// Пример: http://localhost:3000,http://localhost:80 (без кавычек и пробелов)
ALLOWED_ORIGINS=""